* {
  margin: 0;
  padding: 0;
}

h1,
h2,
label,
input,
button {
  font-family: "Titillium Web";
}

body {
  background: #eee;
}

#root {
  width: fit-content;
  background: white;
  padding: 50px 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  /* nije preporučeno */
  border-radius: 10px;
}

.game,
.gameBoard,
.leaderBoard,
.gameContent {
  width: fit-content;
  text-align: center;
}

.gameRow {
  display: flex;
}

.game h1 {
  text-align: center;
  margin-bottom: 20px;
}
.square {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(223, 222, 222);
  background-color: rgb(248, 248, 248);
  margin: 5px;
  outline: none;
  font-size: 45px;
  font-weight: bold;
  color: rgb(187, 187, 187);
}
.square:hover {
  background-color: #dedfde;
  box-shadow: 0 12px 10px 0 rgba(184, 184, 184, 0.1),
    0 17px 50px 0 rgba(199, 198, 198, 0.1);
  cursor: pointer;
}

.game_info {
  text-align: center;
  margin-top: 2px;
  font-weight: normal;
  font-size: 25px;
  font-family: "Titillium Web";
}

.button,
.swal2-confirm.swal2-styled {
  margin-top: 15px !important;
  outline: none !important;
  background: #333 !important;
  color: white !important;
  border: 0;
  padding: 10px 20px;
  width: 55%;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.swal2-confirm.swal2-styled {
  width: 40%;
}
/******Lider board********/

.leaderBoard {
  margin-left: 40px;
  font-family: "Titillium Web";
  width: 220px;
}

.leaderboard__heading {
  background: white;
  outline: none;
  background: #333;
  color: white;
  border: 0;
  padding: 10px 45px;
  width: 130px;
  border-radius: 5px;
}

.gameContent {
  display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  width: 50%;
  border: 2px solid rgb(223, 222, 222);
  padding: 5px;
  font-family: "Titillium Web";
  text-align: center;
}
button.button svg {
  margin-right: 5px;
}
